<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="DBConnectionString" connectionString="data source=10.1.1.20;Initial Catalog=TMTMaster;Persist Security Info=True;User ID=intranetu$er;Password=M3dt3@m!;multipleactiveresultsets=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Insightly.apiKey" value="fabe9e5c-2e5b-46d3-9b7b-13d2af24891d" />
    <add key="InsightlyApi" value="https://api.insight.ly/v2.3" />
    <add key="MailChimpApiKey" value="e40d9b5ddc41c7ca65454e72ad86808d-us11" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>